@mixin tablet {

    @media (min-width: 578px) and (max-width: 950px) {

        header {
            .mensajesuperior {
                font-size: 1.8rem;
            }
            nav{
                padding: 1%;
                margin: 0;
                .container-fluid {
                    background-color: white;
                    padding: 2%;
                }
            }    


        }
        

        main {
            .tituloprincipal {
                font-size: 2rem;
            }
            p {
                font-size: 1.6rem;
                line-height: 2rem;
                text-align:justify;
                margin: 10px 30px;
            }
        }
        


        .grid-container{
            grid-template-columns: repeat(2, 1fr);
            margin: 0;
            .grid-item {
                height: 150px;
                width: 260px;
                margin: 15px 5px;
            }
        }   

    
        footer {
            .logo-footer {
            width: 30%;
            margin: 5% 0;
            }
            .iconos-footer {
                img {
                    width: 5%;
                    margin-bottom: 5%;
                    margin-inline: 3%;
                }
            }
        }

    }

    @media (min-width: 951px) and (max-width: 1350px) {
        main {
            .tituloprincipal {
                font-size: 3rem;
            }
            p {
                font-size: 1.6rem;
                line-height: 2rem;
                text-align:justify;
                margin: 10px 30px;
            }
        }

        .grid-container{
            grid-template-columns: repeat(3, 1fr);
            margin: 0;
            .grid-item {
                height: 170px;
                width: 300px;
                margin: 15px 5px;
            }
        }   

    }
}